

body {
    max-width: 1200px;
}

/* Topic buttons */
.buttons {
    padding: 5px;
    margin: 8px;
    background-color: rgb(145, 142, 142);
    color: whitesmoke;
    font-weight: bold;
}

/* row containing all buttons  */
#topic-buttons {
    min-height: 150px;
    width: 100%;
}

/* input form */
.col-3 {
    margin-left: 10px;
    text-align: center;
}

#topic-input{
    width: 100%;
}


#topic-input,
#select-topic {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* individual gif cards */
  .card {
      min-width: 270px;
      margin: 5px;
  }

.card-body {
    border: 1px solid black;
}

p {
    text-align: left;
    margin-top: 5px;
}

/* "x" close button */
.close-button {
    margin-left: 6px;
    padding: 0;
    background-color: rgb(145, 142, 142);
    border:none;
}
.fa-times {
    font-size: 10px;
    vertical-align: text-top;
}

