
.buttons {
    padding: 5px;
    margin: 5px;
    background-color: gray;
    color: whitesmoke;
}

body {
    max-width: 980px;
}

#buttonsDiv {
    min-height: 150px;
    width: 100%;
}

#formDiv {
    float: left;
    max-width: 280px;
    min-height: 170px;
}

#topic-input{
    width: 100%;
}

#gifDiv{
    float: left;
    width: 700px;
}


/* individual gif divs within  */
.gifDiv {
    float: left;
    margin: 5px;
    height: 200px;
}

#topic-input,
#select-topic {
    margin-bottom: 10px;
    margin-top: 10px;
}




#buttonsDiv,
#formDiv,
#gifDiv {
    border: none;
}

p {
    word-wrap: inherit;
    max-width: 100px;
    font-size: 11px;
}


@media screen and (max-width: 900px) {
    #buttonsDiv,
    #gifDiv {
        width: 100%;
    }  

}

@media screen and (max-width: 375px) {
    #buttonsDiv,
    #formDiv,
    #gifDiv {
        width: 100%;
    }  

}